@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --blue: #309898;
  --light: #f1f3fa;
  --dark: #1c1c1c;
  --yellow: #ffb81c;
  --red: #c10016;
  --orange: #ff6900;
  --grey: #f1ba88;
  --hfont: Mukta, sans-serif;
  --cfont: Montserrat, sans-serif;
  --headfont: "Libre Baskerville", serif;
  --font_01: Roboto, sans-serif;
}

section {
  height: 100vh;
  font-size: 14px;
  font-family: var(--font_01);
  font-display: swap;
  background-color: var(--grey);
}

.text-red {
  color: var(--red) !important;
}

.text-yellow {
  color: var(--yellow) !important;
}

.text-orange {
  color: var(--orange) !important;
}
.text-blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}
.bg-nav {
  background-color: #000000;
}

.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.title_01 {
  font-family: var(--headfont);
  font-size: 24px;
}

.logo_01 {
  height: 50px;
  object-fit: contain;
}
.social img {
  height: 20px;
  object-fit: contain;
}
.img-001 {
  height: 350px;
  width: 100%;
  object-fit: contain;
}

.btn_c1 {
  background-color: black !important;
  color: white !important;
  border: solid 1px black !important;
}

.btn_c1:hover {
  background-color: white !important;
  color: black !important;
  border: solid 1px black !important;
}

.btn_c2 {
  background-color: white !important;
  color: black !important;
  border: solid 1px black !important;
  font-size: 40px !important;
  padding: 0px 20px !important;
  border-radius: 0px !important;
  transition: 0.3s background ease-in;
}

.btn_c2:hover {
  background-color: black !important;
  color: white !important;
  border: solid 1px black !important;
}
.navbar-nav .nav-link.active {
  color: #ff6900 !important;
}
.nav-link {
  color: white !important;
}
.label-01 {
  position: absolute;
  left: 30px;
  top: -11px;
  background: white;
  font-size: 16px;
}
.form-control {
  border: solid 1px #000;
  border-radius: 0 !important;
}
.form-control:focus {
  border-color: #1c1c1c !important;
  box-shadow: unset !important;
}

.input-errors:focus {
  box-shadow: unset !important;
}
.input-errors {
  border: solid 1px red !important;
}
.text-score {
  font-size: 90px;
  font-weight: bold;
}
.role-dice-01 {
  height: 150px;
  object-fit: contain;
  width: 100%;
}
